html.dark #brand {
    text-shadow:
            0 0 4px #fff,
            0 0 9px #fff,
            0 0 16px #77f;
    animation: flicker 2s linear infinite;
}

html.dark #brand-static {
    text-shadow:
            0 0 1px #fff,
            0 0 3px #fff,
            0 0 5px #77f;
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
            0 0 4px #fff,
            0 0 9px #fff,
            0 0 16px #77f;
    }

    20%, 24%, 55% {        
        text-shadow:
            0 0 4px #fff,
            0 0 9px #fff;
    }    
}

.animate-cloud-a {
    animation: cloudA 5000ms linear 0ms infinite;
}

.animate-cloud-b {
    animation: cloudB 4000ms linear 0ms infinite;
}

.animate-cloud-c {
    animation: cloudB 3000ms linear 0ms infinite;
}

@keyframes cloudA {
    0% {
        opacity: 1;
        translate: 1px 0px;
    }
    25% {
        translate: 0px 2px;
        transform: scale(1.1);
    }
    50% {
        opacity: 0.5;
        translate: -1px 0.25px;
    }
    75% {
        translate: 0px -2px;
        transform: scale(1);
    }
    100% {
        opacity: 0.75;
        translate: 1px -0.25px;
    }
}

@keyframes cloudB {
    0% {
        translate: 0px 2px;
        transform: scale(1.1);
    }
    25% {
        opacity: 0.5;
        translate: 0.75px -0.25px;
    }
    50% {
        translate: 0 -2px;
        transform: scale(1);
    }
    75% {
        opacity: 0.75;
        translate: -0.75px 0.5px;
    }
    100% {
        translate: 0px 2px;
    }
}

@keyframes cloudC {
    0% {
        translate: 0px 2px;
        transform: scale(1);
    }
    25% {
        opacity: 0.5;
        translate: 0.75px 0.5px;
    }
    50% {
        translate: 0 -2px;
        transform: scale(1.1);
    }
    75% {
        opacity: 0.75;
        translate: -0.75px -0.5px;
    }
    100% {
        translate: 0px 2px;
    }
}

@keyframes smooth-appear {
    0% {
        top: 8px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.-smooth-appear {
animation: smooth-appear 555ms ease-in-out forwards;
}
