.controller-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: var(--nav-height);
    height: 72px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.controller-island {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 4px;
    margin: 12px;
    border-radius: 12px;
    border: solid 1px var(--border);
    background-color: var(--highlight);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    overflow-y: scroll;
    transition: all ease-in-out 200ms;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.controller-island::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.-scroll-none::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.controller-menu {
    position: relative;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;
    font-weight: 800;
    white-space: nowrap;
    transition: all ease-in-out 200ms;
    animation: smooth-appear 400ms ease forwards;
}

.controller-menu:hover {
    background-color: var(--border);
}

.controller-menu > svg {
    margin-right: 8px;
}

.controller-menu > .input-field {
    min-width: 100px;
    max-width: 25dvw;
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
}

.input-field:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.card {
    position: relative;
    display: flex;
    height: max-content;
    border: solid 1px var(--border);
    border-radius: 12px;
    overflow: hidden;
    transition: all ease-in-out 300ms;
    animation: smooth-appear 400ms ease forwards;
}

.card-main {
    position: relative;
    display: flex;
    height: 25dvh;
    background-color: var(--highlight);
    overflow: hidden;
    transition: all ease-in-out 300ms;
    color: white;
    animation: smooth-appear 400ms ease forwards;
}

.card-main > div > img {
    position: absolute;
    z-index: -10;
    object-fit: cover;
}

.-card-hover {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 300ms;
    overflow: hidden;
  }
  
.-card-hover > div > img {
    /* position: relative; */
    transition: all ease-in-out 200ms;
    object-fit: cover;
}

.-card-hover:hover > div > img {
    transform: scale(1.02);
    transition: all ease-in-out 200ms;
}

.card-2-main-flow {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all ease-in-out 300ms;
    border-radius: 12px;
    animation: smooth-appear 400ms ease forwards;
}

.card-2-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    transition: all ease-in-out 300ms;
    border-radius: 12px;
    animation: smooth-appear 400ms ease forwards;
}

.card-2-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -50;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.card-2-content {
    padding: 16px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.card-2-glow-image {
    position: absolute;
    top: 8px;
    left: 8px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    z-index: -50;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

.card-edit {
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    /* background-color: var(--highlight); */
    border: solid 1px var(--border);
    border-radius: 12px;
    overflow: hidden;
    transition: all ease-in-out 300ms;
    animation: smooth-appear 400ms ease forwards;
}

.card-edit > div > img {
    position: relative;
    transition: all ease-in-out 400ms;
    object-fit: cover;
}

.card-edit:hover > div > img {
    transform: scale(1.02);
    transition: all ease-in-out 400ms;
}

.edit-placeholder {
    padding: 8px;
    border-radius: 8px;
    /* border: solid 1px var(--border); */
    font-size: 1rem;
    text-wrap: wrap;
}

.edit-placeholder:hover > label{
    color: var(--pri);
}

.edit-placeholder > label {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 800;
}

.edit-placeholder > .editor-field {
    width: 100%;
    padding-bottom: 4px;
    margin-top: 16px;
    outline: none;
    word-break: normal;
    border-bottom: dashed 1px var(--border);
}

.edit-placeholder > .toggle-field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 16px;
    outline: none;
    text-wrap: balance;
    white-space: wrap;
    overflow: hidden;
    font-weight: 800;
}

.toggle-field.toggleOn {
    color: var(--teal);
}

.toggle-field.toggleOff {
    color: var(--red);
}

.edit-placeholder:hover > .editor-field {
    background-color: var(--highlight);
}

.add-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 1px var(--border);
    border-radius: 12px;
    white-space: nowrap;
    transition: all ease-in-out 200ms;
}

.add-button:hover {
    color: var(--pri);
    border: dashed 1px var(--pri);
}

#chip-action-pri {
    width: max-content;
    padding: 1px 8px;
    font-size: 1.0rem;
    font-weight: 700;
    color: var(--base-inverse);
    background-color: var(--pri);
    border-radius: 10px;
  }
  
  #chip-action-sec {
    width: max-content;
    padding: 1px 8px;
    font-size: 1.0rem;
    font-weight: 700;
    color: var(--base-inverse);
    background-color: var(--sec);
    border-radius: 10px;
  }
  
  #chip-action-neu {
    width: max-content;
    padding: 1px 8px;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--base-inverse);
    background-color: var(--ter);
    border-radius: 10px;
  }
