/* Font-face for ios (.ttf file) */
/* pixellet */
@font-face {
    font-family: 'Pixellet';
    font-style: normal;
    font-weight: normal;
    src: local('Pixellet'), url('../../public/fonts/pixellet.ttf') format('truetype');
}

/* Import Google Fonts => Font-face for chrome (.woff file) */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@900&display=swap');

/* Font-face for ios (.ttf file) */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Plus Jakarta Sans'), url('../../public/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PlusJakartaSans'), url('../../public/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: local('PlusJakartaSans'), url('../../public/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: local('PlusJakartaSans'), url('../../public/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: 400;
    font-weight: normal;
    src: local('PlusJakartaSans'), url('../../public/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    src: local('PlusJakartaSans'), url('../../public/fonts/PlusJakartaSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200;
    src: local('PlusJakartaSans'), url('../../public/fonts/PlusJakartaSans-ExtraLight.ttf') format('truetype');
}
