@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  /* black #000000 /100 */
  --base: rgba(0, 0, 0, 1.0);
  /* white #ffffff /100 */
  --base-inverse: rgba(255, 255, 255, 1.0);
  /* gray-100 #f3f4f6 /90 */
  --highlight-strong: rgba(243, 244, 246, 0.9);
  /* gray-100 #f3f4f6 /70 */
  --highlight: rgba(243, 244, 246, 0.7);
  /* shadow */
  --shadow: rgba(0, 0, 0, 0.05);
  /* gray-300 #d1d5db /100 */
  --border: rgb(202, 209, 222, 1.0);
  --border-half: rgb(202, 209, 222, 0.25);
  /* blue-500 #3b82f6 /100 */
  --pri: rgba(59, 130, 246, 1.0);
  /* blue-500 #3b82f6 /20 */
  --pri-accent: rgba(59, 130, 246, 0.75);
  /* rose-500 #f43f5e /100 */
  --sec: rgba(244, 63, 94, 1.0);
  /* rose-500 #f43f5e /20 */
  --sec-accent: rgba(244, 63, 94, 0.2);
  /* f0f0f0 / 100 */
  --ter: rgba(160, 160, 160, 1.0);
  /* slate-500 #64748b /100 */
  --slate: rgb(139, 154, 176);
  /* teal-600 #0d9488 /100 */
  --teal: rgba(13, 148, 136, 1.0);
  /* red-600 #dc2626 /100 */
  --red: rgba(220, 38, 38, 1.0);
  /* amber-600 #d97706 /100 */
  --amber: rgba(217, 119, 6, 1.0);
  /* special */
  --bg: rgba(250, 250, 250, 1);
  /* special */
  --bg-hover: rgba(202, 209, 216, 0.40);
  --bg-hover-half: rgba(202, 209, 216, 0.20);
}
  
html.dark {
  /* white #ffffff /100 */
  --base: rgba(255, 255, 255, 1.0);
  /* black #000000 /100 */
  --base-inverse: rgba(0, 0, 0, 1.0);
  /* gray-900 #11181c /90 */
  --highlight-strong: rgba(0, 0, 0, 0.8);
  /* gray-900 #11181c /70 */
  --highlight: rgba(17, 24, 28, 0.7);
  /* shadow */
  --shadow: rgba(255, 255, 255, 0.05);
  /* gray-700 #374151 /100 */
  --border: rgba(55, 65, 81, 1.0);
  --border-half: rgba(55, 65, 81, 0.25);
  /* blue-400 #60a5fa /100 */
  --pri: rgba(96, 165, 250, 1.0);
  /* blue-400 #60a5fa /70 */
  --pri-accent: rgba(96, 165, 250, 0.75);
  /* rose-400 #fb7185 /100 */
  --sec: rgba(251, 113, 133, 1.0);
  /* rose-400 #fb7185 /20 */
  --sec-accent: rgba(251, 113, 133, 0.2);
  /* fefefe / 100 */
  --ter: rgba(239, 239, 239, 1.0);
  /* slate-500 #64748b /100 */
  --slate: rgba(100, 116, 139, 1.0);
  /* teal-400 #2dd4bf /100 */
  --teal: rgba(45, 212, 191, 1);
  /* red-400 #f87171 /100 */
  --red: rgba(248, 113, 113, 1);
  /* amber-400 #fbbf24 /100 */
  --amber: rgba(251, 191, 36, 1);
  /* special */
  --bg: rgba(5, 5, 5, 1);
  /* special */
  --bg-hover: rgba(55, 65, 77, 0.60);
  --bg-hover-half: rgba(55, 65, 77, 0.20);
}

/* BREAK POINT AT "lg" */
@media screen and (min-width: 64rem) {
  :root {
    --nav-height: 56px;
    --controller-height: 72px;
    --aside-visibility: flex;
    --aside-width: 320px;
    --main-width: calc(100dvw - var(--aside-width));
  }
}

@media screen and (min-width: 0px) and (max-width: 64rem) {
  :root {
    --nav-height: 56px;
    --controller-height: 72px;
    --aside-visibility: none;
    --aside-width: 320px;
    --main-width: 100dvw;
  }
}

/* ----------------------- */
/* HTML tag global setting */
/* ----------------------- */

html {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
  scrollbar-track-color: #00000000;
  scrollbar-gutter: none;
  z-index: 1000;
}

html::-webkit-scrollbar-track {
  background: transparent;
  z-index: 1000;
 }

input:focus, input,
select:focus, textarea,
textarea:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  height: fit-content;
}

h1 {
  font-weight: 900;
  font-size: 2.00rem;
  margin: 1rem 0;
  line-height: 120%;
}

h2 {
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 120%;
}

h3 {
  font-weight: 700;
  font-size: 1.50rem;
  line-height: 120%;
}

h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 120%;
}

h5 {
  font-weight: 700;
  font-size: 1.10rem;
  line-height: 110%;
}

h6 {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 100%;
}

p {
  font-size: 0.9rem;
  line-height: 120%;
}

hr {
  position: absolute;
  width: calc(100vw - 48px);
  z-index: -50;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px var(--base);
  border-style: inset;
  border-width: 1px;
}

nav {
  height: var(--nav-height);
  background-color: var(--highlight);
  border-bottom: solid 1px var(--border);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  transition: all ease-in-out 100ms;
}

footer {
  background-color: var(--bgaccent);
  border-bottom: solid 1px var(--border);
}

textarea {
  resize: vertical;
}

.pixellet {
  font-family: 'Pixellet';
}

.color-pri {
  color: var(--pri);
}

.color-sec {
  color: var(--sec);
}

.color-slate {
  color: var(--slate);
}

.color-red {
  color: var(--red);
}

.color-amber {
  color: var(--amber);
}

.color-teal {
  color: var(--teal);
}

.highlight {
  font-weight: 900;
  color: var(--amber);
  text-shadow:
    0 0 0.5px #ffffffff,
    0 0 1px var(--pri-accent)
}

.-scroll-none {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.-scroll-none::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.-prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  height: fit-content;
  min-height: 360px;
  max-height: 500px;
  width: 80dvw;
  min-width: 320px;
  max-width: 640px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
  border: solid 1px var(--border);
  border-radius: 48px;
  background-color: var(--highlight);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transform: scale3d(1.1);
  animation: smooth-appear 400ms ease forwards;
}

.glass-cover-screen {
  position: fixed;
  top: var(--nav-height);
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100dvh - var(--nav-height));
  width: 100dvw;
  z-index: 100;
  background-color: var(--bgaccent);
  color: var(--base);
  animation: fade-glass 800ms ease forwards;
}

.glass-cover-spread {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: -10;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.glass-cover-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.glass-cover-row {
  position: absolute;
  top: -128px;
  left: -100dvw;
  height: calc(100% + 256px);
  width: calc(200dvw);
  z-index: -10;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.panel {
  border: solid 1px var(--border);
  border-radius: 12px;
  background-color: var(--highlight-strong);
  backdrop-filter: blur(36px);
  -webkit-backdrop-filter: blur(36px);
  transform: scale3d(1.1);
  animation: smooth-appear 400ms ease forwards;
}

/* ---------------------------------------- */
/* Global resource for animation and effect */
/* ---------------------------------------- */

@keyframes smooth-appear {
  0% {
    top: 16px;
    opacity: 0.1;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.ani-smooth-appear {
  animation: smooth-appear 400ms ease forwards;
}

@keyframes fade-glass {
  0% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    color: transparent;
  }
  100% {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: var(--highlight);
  }
}

.-border-l {
  border-left: solid 1px var(--border);
}

.-border-r {
  border-right: solid 1px var(--border);
}

.-border-t {
  border-top: solid 1px var(--border);
}

.-border-b {
  border-bottom: solid 1px var(--border);
}

.-border-x {
  border-left: solid 1px var(--border);
  border-right: solid 1px var(--border);
}

.-border-y {
  border-top: solid 1px var(--border);
  border-bottom: solid 1px var(--border);
}

.-border {
  border: solid 1px var(--border);
}

.-border-l-half {
  border-left: solid 1px var(--border-half);
}

.-border-r-half {
  border-right: solid 1px var(--border-half);
}

.-border-t-half {
  border-top: solid 1px var(--border-half);
}

.-border-b-half {
  border-bottom: solid 1px var(--border-half);
}

.-border-x-half {
  border-left: solid 1px var(--border-half);
  border-right: solid 1px var(--border-half);
}

.-border-y-half {
  border-top: solid 1px var(--border-half);
  border-bottom: solid 1px var(--border-half);
}

.-border-half {
  border: solid 1px var(--border-half);
}

.background-image {
  position: fixed;
  top: 64px;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: -1000;
  filter: brightness(2);
}

.-button-hover-red:hover {
  background-color: var(--bg-hover);
  transition: all ease-in-out 200ms;
  border: solid 1px var(--red);
  color: var(--red);
}

.-button-hover-amber:hover {
  background-color: var(--bg-hover);
  transition: all ease-in-out 200ms;
  border: solid 1px var(--amber);
  color: var(--amber);
}

.-button-hover-pri:hover {
  background-color: var(--bg-hover);
  transition: all ease-in-out 200ms;
  border: solid 1px var(--pri);
  color: var(--pri);
}

.-button-hover-teal:hover {
  background-color: var(--bg-hover);
  transition: all ease-in-out 200ms;
  border: solid 1px var(--teal);
  color: var(--teal);
}

.-hover-bg:hover {
  background-color: var(--bg-hover);
  transition: all ease-in-out 200ms;
}

.-hover-bg-half:hover {
  background-color: var(--bg-hover-half);
  transition: all ease-in-out 200ms;
}

.-hover-bg-active {
  background-color: var(--bg-hover);
}

.-hover-bg-active-half {
  background-color: var(--bg-hover-half);
}

.-button-line {
  position: relative;
  font-weight: 600;
  width: max-content;
}

.-button-line:hover {
  position: relative;
  font-weight: 600;
}

.-button-line::before {
  display: block;
  content: attr(id);
  font-weight: 600;
  z-index: 1;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.-button-line::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  z-index: -1;
  background-color: var(--base);
  transition: all 0.25s ease;
  left: 50%;
  transform: translateX(-50%);
}

.-button-line:hover::after {
  width: 100%;
}

#theme-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  height: min-content;
  width: fit-content;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
  border: solid 2px var(--border);
  background-color: var(--base-inverse);
  font-weight: 800;
  transition: all 200ms ease-in-out;
}

#theme-button:hover {
  color: var(--pri);
  border: solid 2px var(--pri);
}

.-select-section-popup-hi--highlight {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 80px;
  right: 32px;
  z-index: 50;
  width: fit-content;
  border-radius: 12px;
  background-color: var(--bgaccent);
  border: solid 1px var(--border);
}

#clear-chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 2px 8px 2px 8px;
  border-radius: 56px;
}

#pri-chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 2px 8px 2px 8px;
  border-radius: 56px;
  border: solid 1px var(--pri);
  background-color: var(--pri-accent);
  color: var(--base);
}

.theme-table {
  animation: smooth-appear 400ms ease forwards;
}

.theme-table > tbody > tr {
  padding-right: 24px;
}

.theme-table > thead > tr {
  padding-right: 24px;
}

.theme-table > thead > tr > th {
  padding: 16px 24px;
  text-align: left;
  border-bottom: solid 1px var(--border);
}

.theme-table > tbody > tr:nth-child(odd) > td {
  padding: 16px 24px;
}

.theme-table > tbody > tr:nth-child(even) > td {
  padding: 16px 24px;
  background-color: var(--shadow);
}

.theme-table > tbody > tr:hover > td {
  background-color: var(--border);
}
