#quiz-two-cols-fixed {
  display: flex;
  flex-direction: row;
  height: calc(100dvh - var(--nav-height) - var(--nav-height) + 6px);
  overflow: hidden;
}

#editor-two-cols-fixed {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100dvh - var(--nav-height) - var(--controller-height));
  margin-top: calc(var(--nav-height) + var(--controller-height));
  overflow: hidden;
}

#display-two-cols-fixed {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100dvh - var(--nav-height) - var(--controller-height) - var(--controller-height) + 8px);
  margin-top: calc(var(--nav-height) + var(--controller-height));
  overflow: hidden;
}

#quiz-col-scroll-aside {
  z-index: 100;
  height: 100%;
}

#quiz-col-scroll-main {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
