#two-cols-fixed {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: calc(100dvh - 64px - 72px);
  width: 100dvw;
  overflow: hidden;
}

#col-scroll-aside {
  display: var(--aside-visibility);
  flex-direction: column;
  width: var(--aside-width);
  overflow-y: scroll;
  background-color: var(--bg-accent);
}

#col-scroll-main {
  display: flex;
  flex-direction: column;
  width: calc(100dvw - var(--aside-width));
  overflow-y: scroll;
}