#two-cols-fixed {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: calc(100dvh - var(--nav-height) - var(--controller-height));
  width: 100dvw;
  overflow: hidden;
}

#col-scroll-aside {
  display: var(--aside-visibility);
  flex-direction: column;
  width: var(--aside-width);
}

#col-scroll-main {
  display: flex;
  flex-direction: column;
  width: calc(100dvw - var(--aside-width));
}

.w-dvh {
  width: 100dvw;
}

.h-dvh {
  height: 100dvh;
}

.h-nav {
  height: var(--nav-height);
}

.h-dvh-nav {
  height: calc(100dvh - var(--nav-height));
}

.h-dvh-nav {
  height: calc(100dvh - var(--nav-height));
}

.h-dvh-nav-ctrl {
  height: calc(100dvh - var(--nav-height) - var(--controller-height));
}
