#quiz-two-cols-fixed {
  display: flex;
  flex-direction: row;
  height: calc(100dvh - 64px);
  overflow: hidden;
}

#editor-two-cols-fixed {
  display: flex;
  flex-direction: row;
  height: calc(100dvh);
  overflow: hidden;
}

#quiz-col-scroll-aside {
  margin-top: 64px;
  display: var(--aside-visibility);
  flex-direction: column;
  width: var(--aside-width);
  overflow-y: scroll;
  background-color: var(--bgaccent);
}

#quiz-col-scroll-main {
  padding: 0px 16px 16px 16px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  width: calc(var(--main-width));
  overflow-y: scroll;
  border-left: solid 1px var(--border);
  background-color: var(--bgaccent);
}

#separate-top {
  border-top: solid 1px var(--border);
}
#separate-left {
  border-left: solid 1px var(--border);
}
#separate-left {
  border-left: solid 1px var(--border);
}

#separate-right {
  border-right: solid 1px var(--border);
}

#card-nav-neu {
  width: calc((var--aside-width)/ 6.2);
  height: 36px;
  font-weight: 700;
  background-color: var(--highlight);
  border: solid 1px var(--border);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-nav-neu:hover {
  background-color: var(--border);
}

#card-nav-accent {
  width: calc((var--aside-width)/ 6.2);
  height: 36px;
  color: var(--baseinverse);
  font-weight: 700;
  background-color: var(--ter);
  border: solid 1px var(--border);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-nav-ter {
  width: calc((var--aside-width)/ 6.2);
  height: 36px;
  font-weight: 700;
  color: var(--baseinverse);
  background-color: var(--ter);
  border: solid 1px var(--ter);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-nav-green {
  width: calc((var--aside-width)/ 6.2);
  height: 36px;
  font-weight: 700;
  color: white;
  background-color: var(--teal);
  border: solid 1px var(--teal);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-nav-red {
  width: calc((var--aside-width)/ 6.2);
  height: 36px;
  font-weight: 700;
  color: white;
  background-color: var(--red);
  border: solid 1px var(--red);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-nav-amber {
  width: calc((var--aside-width)/ 6.2);
  height: 36px;
  font-weight: 700;
  color: white;
  background-color: var(--amber);
  border: solid 1px var(--amber);
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-container {
  position: relative;
  transition: all 200ms ease-in-out;
}

#card-quiz-container > button {
  padding-top: 2px;
  padding-bottom: 2px;
}

#card-quiz {
  background-color: var(--highlight);
  border: solid 2px var(--border);
  border-radius: 12px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz> #answer-type {
  color: var(--border);
}

#card-quiz-pri {
  background-color: var(--highlight);
  border: solid 2px var(--pri);
  border-radius: 12px;
  box-shadow: 0 0 var(--shadow-radius) calc(var(--shadow-radius)/2) var(--pri);
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-pri > #answer-type {
  color: var(--pri);
}

#card-quiz-sec {
  background-color: var(--highlight);
  border: solid 2px var(--sec);
  border-radius: 12px;
  box-shadow: 0 0 var(--shadow-radius) calc(var(--shadow-radius)/2) var(--sec);
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-sec > #answer-type {
  color: var(--sec);
}

#card-quiz-ter {
  background-color: var(--highlight);
  background-color: var(--highlight);
  border: solid 2px var(--ter);
  border-radius: 12px;
  box-shadow: 0 0 var(--shadow-radius) calc(var(--shadow-radius)/2) var(--ter);
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-ter > #answer-type {
  color: var(--ter);
}

#card-quiz-green {
  background-color: var(--highlight);
  border: solid 2px var(--teal);
  box-shadow: 0 0 var(--shadow-radius) calc(var(--shadow-radius)/2) var(--teal);
  border-radius: 12px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-green > #answer-report {
  color: var(--teal);
}

#card-quiz-red {
  background-color: var(--highlight);
  border: solid 2px var(--red);
  border-radius: 12px;
  box-shadow: 0 0 var(--shadow-radius) calc(var(--shadow-radius)/2) var(--red);
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-red > #answer-report {
  color: var(--red);
}

#card-quiz-amber {
  background-color: var(--highlight);
  border: solid 2px var(--amber);
  border-radius: 12px;
  box-shadow: 0 0 var(--shadow-radius) calc(var(--shadow-radius)/2) var(--amber);
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

#card-quiz-amber > #answer-report {
  color: var(--amber);
}

#answer-type {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  padding: 2px 2px 2.5px 2px;
  margin: 8px 0 0 8px;
  border-radius: 8px;
  font-size: 12px;
}

#answer-report {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  padding: 2px 2px 2.5px 2px;
  margin: 8px 0 0 8px;
  border-radius: 8px;
  font-size: 12px;
}

#choice-front-text {
  display: flex;
  margin-left: 36px;
  margin-right: 36px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
  text-align: center;
  font-weight: 600;
}

#choice-back-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
